Source: ros-hydro-tf2-web-republisher
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-roscpp, ros-hydro-tf, ros-hydro-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-tf2-web-republisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-geometry-msgs, ros-hydro-roscpp, ros-hydro-tf, ros-hydro-tf2-ros
Description: This package republishes throttled and quantized tf messages to be transmitted to a ros-bridge web-client
